# Auto detect text files and perform LF normalization
* text=auto

# Many test files and test outputs have non-Windows line endings
# that should be preserved.
*.txt binary
*.csv binary
*.jpg binary
*.png binary
*.gif binary
*.bmp binary
*.exif binary
*.zip binary
